




  <div class="top-container top-opacity">
    <div class="top-box top-opacity">
      <img src="images/hero-logo.png" alt="title" class="top-img top-opacity">
    </div>
  </div>


  <div class="about-container">
    <p class="about-title">
      ABOUT
    </p>
    <p class="about-text">
      「HANAVIVA 2019 powered by AMERICAN EXPRESS（以下：HANAVIVA）」は<br>
      横浜港大さん橋国際客船ターミナルを舞台に、アート・ミュージック・フードなど、<br>
      様々なカルチャーを楽しむことのできるプログラムと、横浜スパークリングトワイライト スパークリング花火を、<br>
      目の前で鑑賞し、“ココロ揺さぶる時間“ を過ごすことのできる1日限りの総合フェスティバル。<br>
    </p>
    <p class="about-subtext">
      ※横浜スパークリングトワイライトの詳しい情報は公式HPよりご覧ください。<br>
      <a href="https://yokohama-sparkling.com/">https://yokohama-sparkling.com/</a>
    </p>

    <div class="about-box">
      <p class="about-box-title">
        『HANAVIVA 2020 Powered by POMATO PRO』
      </p>
      <p class="about-box-text">
        日時：2020年7月18日(土) OPEN 14:00 CLOSE 21:00 ※予定<br>
        会場：横浜港大さん橋国際客船ターミナル特設会場<br>
      </p>
      <p class="about-box-text-sub">
        （神奈川県横浜市中区海岸通１丁目1番4号）
      </p>
    </div>

    <div class="about-img">
      <img src="images/about-img.jpg" alt="title" class="about-img">
    </div>
  </div>


  <div class="news-container" style="background-color: #FFF; width: 780px; height: 1000px; margin: 0 auto">
    
  </div>


