<%= render 'layouts/header' %>




  <div class="top-container top-opacity">
    <div class="top-box top-opacity">
      <img src="images/hero-logo.png" alt="title" class="top-img top-opacity">
    </div>
  </div>


  <!-- <div class="about-container"> -->
  <div class="about-container" id="about">
    <h2 id="title" class="about-title">
      ABOUT
    </h2>
    <p class="about-text">
      「HANAVIVA 2020 powered by POMATO PRO（以下：HANAVIVA）」は<br>
      横浜港大さん橋国際客船ターミナルを舞台に、アート・ミュージック・フードなど、<br>
      様々なカルチャーを楽しむことのできるプログラムと、横浜スパークリングトワイライト スパークリング花火を、<br>
      目の前で鑑賞し、“ココロ揺さぶる時間“ を過ごすことのできる1日限りの総合フェスティバル。<br>
    </p>
    <p class="about-subtext">
      ※横浜スパークリングトワイライトの詳しい情報は公式HPよりご覧ください。<br>
      <span style="text-decoration: underline">
        <%= link_to 'https://yokohama-sparkling.com/', 'https://yokohama-sparkling.com/', class: 'blk-opc underline' %>
      </span>
    </p>

    <div class="about-box">
      <h4 class="about-box-title">
        『HANAVIVA 2020 Powered by POMATO PRO』
      </h4>
      <p class="about-box-text">
        日時：2020年7月18日(土) OPEN 14:00 CLOSE 21:00 ※予定<br>
        会場：横浜港大さん橋国際客船ターミナル特設会場<br>
      </p>
      <p class="about-box-text-sub">
        （神奈川県横浜市中区海岸通１丁目1番4号）
      </p>
    </div>

    <div class="about-img">
      <img src="images/about-img.jpg" alt="title" class="about-img">
    </div>
  </div>


  <div class="news-container" id="news">
    <h2 id="title" class="news-title">
      NEWS
    </h2>
  </div>


  <div class="cast-container" id="cast" style="height: 1000px">
    <h2 id="title" class="cast-title">
      CAST
    </h2>
  </div>


  <div class="fooddrink-container" id="fooddrink" style="height: 1000px">
    <h2 id="title" class="fooddrink-title">
      FOOD&DRINK
    </h2>

    <img src="images/img-food.jpg" alt="title" class="fd-img">

  </div>


  <div class="ticket-container" id="ticket" style="height: 1000px">
    <h2 id="title" class="ticket-title">
      TICKET
    </h2>
  </div>


  <div class="access-container" id="access" style="height: 1000px">
    <h2 id="title" class="access-title">
      ACCESS
    </h2>
  </div>


  <div class="report-container" id="report" style="height: 1000px">
    <h2 id="title" class="report-title">
      REPORT
    </h2>
  </div>